<h4><%= link_to "Back to All Companies", companies_path %></h4>

<h3>All Jobs for <strong><%= @company.name %></strong></h3>

<h4><%= link_to "Edit Company", edit_company_path(@company) %>  |  <%= link_to "Delete Company", company_path(@company), method: :delete %></h4>
<h4><%= link_to "New Job", new_company_job_path %></h4>

<ul>
  <% @jobs.each do |job| %>
  <li>
    <strong><%= link_to job.title, company_job_path(@company, job) %></strong>
    [<strong><%= link_to "Edit", edit_company_job_path(@company, job) %></strong>  | <strong><%= link_to "Delete", company_job_path(@company, job), method: :delete %></strong>]
  </li>
  <% end %>
</ul>

<h3>All Contacts for <strong><%= @company.name %></strong></h3>
<h4><%= link_to "New Contact", new_company_contact_path(@company) %>

<ol>
  <% @contacts.each do |contact| %>
  <li>
    Name: <%= contact.name %><br/>
    Position: <%= contact.position %><br/>
    Email: <%= contact.email %><br/>
    <%= link_to "Edit", edit_company_contact_path(@company, contact) %>  |  <span class="contact"><%= link_to "Delete", company_contact_path(@company, contact), method: :delete %></span><br/>
  </li></br>
  <% end %>
</ol>
