<h4><%= link_to "Back to Home", root_path %></h4>

<h3>All Companies</h3>

<h4><%= link_to "Create A New Company", new_company_path %></h4>

<ul>
  <% @companies.each do |company| %>
  <li class=company_<%= company.id %>>
    <%= link_to company.name, company_path(company) %>:
    <%= link_to "Edit", edit_company_path(company) %>
    <%= link_to "Delete", company_path(company), method: "delete" %>
  </li>
  <% end %>
</ul>
